<%- include ('partials/header') -%>
    <main class="container">
        <div class="row content galleria-init">
            <%_ designs.forEach((item, i) => { _%>
            <div class="col-md-8 <%= i % 2 !== 0 ? 'col-md-push-4' : '' %> img-container media-container">
                <div class="inner slideshow img" id="<%= item.d_id %>" data-toggle="modal" data-target="#gallery_view" oncontextmenu="return false"></div>
            </div>
            <div class="col-md-4 <%= i % 2 !== 0 ? 'col-md-pull-8' : '' %> txt-container media-container">
                <div class="inner">
                    <p>Client:<br><b><%= item.text.client %></b></p>
                    <br>
                    <p>Primary tools:<br><b><%= item.text.tools %></b></p>
                    <br>
                    <p><%= item.text.description %></p>
                    <br>
                    <a class="btn btn-default" href="<%= item.link %>">View live demo</a>
                </div>
            </div>
            <%_ if (i < designs.length-1) { _%><hr><%_ } _%>
            <%_ }) _%>
        </div>

        <script src="/js/galleria-init.js"></script>
        <script>
            $(".content.galleria-init .img").each(function(i) {
                var img = this;
                var isSlideshow = img.className.includes("slideshow");
                $.post("/p", [
                    { name: "photo_set", value: "design-" + img.id },
                    { name: "sort", value: '{"index": 1}' }
                ], function(d) {
                    if (d && d.length) {
                        $(img).html(d.map(function(e) { return "<img src="+ e.photo_url +">" }).join("")).galleria({
                            imageCrop: !isSlideshow,
                            autoplay: isSlideshow ? 4500 : undefined,
                            transitionSpeed: isSlideshow ? 1000 : undefined,
                            swipe: isSlideshow ? "disabled" : undefined,
                            showImagenav: false
                        })
                    } else {
                        $(img).html(
                            '<div style="width: 100%; height: 100%; display: table;">' +
                                '<div style="width: 100%; height: 100%; display: table-cell; vertical-align: middle; text-align: center;">' +
                                    '<p>No images available</p>' +
                                '</div>' +
                            '</div>'
                        )
                    }
                })
            }).click(loadGalleryView)
        </script>
    </main>
<%- include ('partials/footer') -%>