<%- include ('partials/header') -%>
    <main>
        <div class="content">
            <div id="designs-carousel" class="carousel slide" data-interval="false">
                <div class="carousel-controls">
                    <a class="fal fa-angle-left control left"></a>
                    <span class="sr-only">Previous</span>

                    <a class="fal fa-angle-right control right"></a>
                    <span class="sr-only">Next</span>
                </div>

                <div class="carousel-inner">
                    <%_ designs.forEach((item, i) => { _%>
                    <div class="item design-item<%= i == 0 ? ' active' : '' %>" id="<%= item.photo_set %>">
                        <div class="design-img-dt-container">
                            <div class="container">
                                <div class="design-img-dt slideshow">
                                    <%_ design_docs.filter(d => d.photo_set.includes(item.d_id) && d.orientation === "landscape").forEach(doc => {
                                        if (/\.(jpe?g|png|gif)$/.test(doc.photo_url)) { _%>
                                    <img class="img" src="<%= doc.photo_url %>" alt="<%= doc.photo_title %>">
                                    <%_ } else { _%>
                                    <video class="img" playsinline autoplay muted loop><source src="<%= doc.photo_url %>"></video>
                                    <%_ }}) _%>
                                </div>
                            </div>
                        </div>

                        <div class="design-img-mb-container">
                            <div class="container">
                                <div class="col-xs-5 col-xs-push-7">
                                    <div class="design-img-mb slideshow">
                                        <%_ design_docs.filter(d => d.photo_set.includes(item.d_id) && d.orientation === "portrait").forEach(doc => {
                                            if (/\.(jpe?g|png|gif)$/.test(doc.photo_url)) { _%>
                                        <img class="img" src="<%= doc.photo_url %>" alt="<%= doc.photo_title %>">
                                        <%_ } else { _%>
                                        <video class="img" playsinline autoplay muted loop><source src="<%= doc.photo_url %>"></video>
                                        <%_ }}) _%>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="design-info container">
                            <p><%= item.text.client %></p>
                            <p><a class="link" href="<%= item.link %>" target="_blank">View live demo</a></p>
                            <p><%= item.text.description %></p>
                        </div>
                    </div>
                    <%_ }) _%>
                </div>
            </div>
        </div>

        <script src="/js/galleria-init.js"></script>
        <script>
            $(".slideshow").each(function(i, slideshow) {
                if ($(slideshow).children(".img").length > 1) {
                    $(slideshow).children(".img:gt(0)").fadeTo(0, 0);
                    setInterval(function() {
                        $(slideshow).children('.img:first')
                        .fadeTo(500, 0)
                        .dequeue()
                        .next()
                        .fadeTo(500, 1)
                        .end()
                        .appendTo(slideshow);
                    }, 4000);
                }
            });

            $(".control.left").click(function() { $(this).closest(".carousel").carousel("prev") });
            $(".control.right").click(function() { $(this).closest(".carousel").carousel("next") });
        </script>
    </main>
<%- include ('partials/footer') -%>