<%_ include partials/header _%>
		<div class="row content galleria-init">
			<%_ designs.forEach((item, i) => { _%>
			<div class="col-sm-8 <%= i % 2 !== 0 ? 'col-sm-push-4' : '' %> img-container">
				<div class="inner slideshow img" id="<%= item.d_id %>" data-toggle="modal" data-target="#gallery_view" oncontextmenu="return false"></div>
			</div>
			<div class="col-sm-4 <%= i % 2 !== 0 ? 'col-sm-pull-8' : '' %> txt-container">
				<div class="inner">
					<p>Client:<br><b><%= item.text.client %></b></p>
					<br>
					<p>Primary tools:<br><b><%= item.text.tools %></b></p>
					<br>
					<p><%= item.text.description %></p>
					<br>
					<a class="btn btn-default" href="<%= item.link %>">View live demo</a>
				</div>
			</div>
			<%_ }) _%>
		</div>
<%_ include partials/footer _%>