<%- include ('partials/header') -%>
    <script> var d = null; $.post("/p", {}, function(r) { d = r }); </script>

    <main class="container">
        <div class="row content">
            <ul class="nav nav-pills">
                <li class="active"><a data-toggle="pill" href="#galleries">Galleries</a></li>
                <li><a data-toggle="pill" href="#infotext">Info Text</a></li>
                <li><a data-toggle="pill" href="#designs">Designs</a></li>
                <li><a data-toggle="pill" href="#sort-order">Sort order</a></li>
            </ul>

            <div class="tab-content">
                <div id="galleries" class="tab-pane fade in active">
                    <%- include ('partials/settings/galleries') -%>
                </div>

                <div id="infotext" class="tab-pane fade">
                    <%- include ('partials/settings/info-text') -%>
                </div>

                <div id="designs" class="tab-pane fade">
                    <%- include ('partials/settings/designs') -%>
                </div>

                <div id="sort-order" class="tab-pane fade">
                    <%- include ('partials/settings/sort-order') -%>
                </div>
            </div>
        </div>
    </main>

    <style>
        form {
            border-radius: 7px;
            background-color: rgba(255, 255, 255, .15);
            padding: 2em;
        }
    </style>

    <script>
        $(".image-input-group-btn").click(function(e) {
            e.preventDefault();
            var multiple = $(this).closest("form").find(".image-input-group").length > 1;
            var $group = $(this).closest(".image-input-group");
            var $clone = $group.clone(true).find(":input").val("").end().find(".image-url").attr({disabled: false, title: ""}).end();
            switch (this.dataset.opt) {
                case "add" : $clone.insertAfter($group); break;
                case "remove" : if (multiple) $group.remove(); break;
                case "clear" : $group.find(":input").val("").attr("disabled", false).filter(":hidden").attr("disabled", true); break;
            }
        });

        $(".image-file-input").change(function() {
            var files = this.files;
            var $imageUrl = $(this).closest(".image-input-group").find(".image-url").attr({disabled: false, title: ""}).val("");
            var $hiddenInput = $(this).closest(".image-input-group").find(":hidden").attr({disabled: true}).val("");
            if (files && files.length) {
                $.each(files, function(i, file) {
                    var reader = new FileReader();
                    reader.readAsDataURL(file);
                    reader.onload = function(e) {
                        $imageUrl.attr({disabled: true, title: file.name}).val(file.name);
                        $hiddenInput.attr({disabled: false}).val(e.target.result);
                    };
                })
            }
        });

        $("form").submit(function(e) {
            e.preventDefault();
            $.post(this.action, $(this).serializeArray(), function(res) {
                $(e.target).find(".img-preview").empty();
                $(e.target).find("#photo_set_new").remove();
                e.target.reset();
                alert(res);
            })
        })
    </script>
<%- include ('partials/footer') -%>
