                <form class="form-group" id="photo-upload-form" method="post" action="/settings/photo/upload">
                    <label for="image-file">Image Upload</label>
                    <div class="row">
                        <div class="col-sm-5 column sm">
                            <input type="file" id="image-file" name="file" accept=".jpg,.jpeg,.png"><br>
                        </div>
                        <div class="col-sm-7 column sm">
                            <input class="form-control" type="url" id="image-url" name="file" placeholder="Enter image URL (optional)" required>
                        </div>
                    </div>
                    <label for="photo-title">Title</label>
                    <input class="form-control" type="text" name="photo_title" id="photo-title" required>
                    <label for="photo-set-opts">Photo set</label>
                    <select class="form-control" name="photo_set" id="photo-set-opts" required>
                        <option value="">Select photo set</option>
                        <option value="new">*NEW*</option>
                        <%_ photos.forEach((p, i, a) => {
                            if (i === 0 || p.photo_set !== a[i-1].photo_set) { _%>
                        <option value="<%= p.photo_set %>"><%= p.photo_set %></option>
                        <%_ }}) _%>
                    </select>
                    <label for="photo-index">Photo position number</label>
                    <input class="form-control" type="number" name="index" id="photo-index" min="1" max="1" value="1" disabled required>
                    <br>
                    <input class="form-control submit" type="submit" value="Save photo">
                </form>

                <br><br><br>

                <form class="form-group" id="photo-delete-form" method="post" action="/settings/photo/delete">
                    <label for="photo-set-filter">Select photo set to filter (option)</label>
                    <select class="form-control" id="photo-set-filter" name="photo_set">
                        <option value="">Select photo set</option>
                        <%_ photos.forEach((p, i, a) => {
                            if (i === 0 || p.photo_set !== a[i-1].photo_set) { _%>
                        <option value="<%= p.photo_set %>"><%= p.photo_set %></option>
                        <%_ }}) _%>
                    </select>
                    <label for="photo-to-delete">Select image to delete</label>
                    <select class="form-control" id="photo-to-delete" name="id" required>
                        <option value="">Select image</option>
                        <option value="*">*</option>
                        <%_ photos.forEach(p => { _%>
                        <option value="<%= p._id %>"><%= p.photo_title %></option>
                        <%_ }) _%>
                    </select>
                    <div class="img-preview"></div>
                    <input class="form-control submit btn-danger" type="submit" value="Delete">
                </form>

                <br><br><br>

                <form class="form-group" id="photo-set-delete-form" method="post" action="/settings/photo/set/delete">
                    <label for="photo-set-to-delete">Select photo set</label>
                    <select class="form-control" id="photo-set-to-delete" name="photo_set" required>
                        <option value="">Select photo set</option>
                        <%_ photos.forEach((p, i, a) => {
                            if (i === 0 || p.photo_set !== a[i-1].photo_set) { _%>
                        <option value="<%= p.photo_set %>"><%= p.photo_set %></option>
                        <%_ }}) _%>
                    </select>
                    <input class="form-control submit" type="submit" value="Delete photo set">
                </form>

                <script>
                    $("#image-file").change(function() {
                        var files = this.files;
                        $("#image-url").attr("disabled", false).val("");
                        if (files && files.length) {
                            $.each(files, function(i, file) {
                                var reader = new FileReader();
                                reader.onload = function(e) { $("#image-url").attr("disabled", true).val(e.target.result) };
                                reader.readAsDataURL(file);
                            })
                        }
                    });

                    $("#photo-set-opts").change(function() {
                        var input = this;
                        $("#photo-index").attr({ disabled: true, max: 1 }).val(1);
                        $("#photo-set-new").remove();
                        if (input.value === "new") {
                            $("<input>").addClass("form-control").attr({
                                type: "text",
                                name: "photo_set_new",
                                id: "photo-set-new",
                                placeholder: "Enter new photo set name"
                            }).insertAfter(input);
                            $("#photo-index").attr("disabled", false);
                        }
                        else if (input.value) {
                            var max = d.filter(function(e) { return e.photo_set == input.value }).length + 1;
                            $("#photo-index").attr({ disabled: false, max }).val(max);
                        }
                    });

                    var $photoSelectInput = $("#photo-to-delete");
                    var photoOptions = $photoSelectInput.children("option");
                    $("#photo-set-filter").change(function(evt) {
                        var $form = $(this).closest("form");
                        var $preview = $form.find(".img-preview");
                        $photoSelectInput.html(photoOptions);
                        $preview.empty();
                        try {
                            d.filter(function(e) {
                                return e.photo_set === evt.currentTarget.value
                            }).forEach(function(img, i) {
                                if (i == 0) $photoSelectInput.html(
                                    "<option value=''>Select image</option>" +
                                    "<option value='*'>*</option>"
                                );
                                $photoSelectInput.append("<option value="+ img._id +">"+ img.photo_title +"</option>")
                            });
                            $photoSelectInput.find("option:first").prop("selected", true);
                        } catch(e) {}
                    });

                    $("#photo-to-delete").change(function(evt) {
                        var $form = $(this).closest("form");
                        var $preview = $form.find(".img-preview");
                        $preview.empty();
                        try {
                            d.filter(function(e) {
                                return e._id == evt.currentTarget.value
                            }).forEach(function(img) {
                                $preview.append("<img src='"+ img.photo_url +"'>");
                            });
                        } catch(e) {}
                    });
                </script>
