                <form class="form-group" id="photo-upload-form" method="post" action="/settings/photo/upload">
                    <label>Image Upload</label>
                    <div class="image-input-group-container">
                        <div class="image-input-group row" style="margin-bottom: 1.5em;">
                            <div class="col-sm-5">
                                <input type="file" class="image-file-input" accept=".jpg,.jpeg,.png"><br>
                            </div>
                            <div class="col-sm-7">
                                <input type="url" class="form-control image-url" name="file" placeholder="Enter image URL (optional)" required>
                                <input type="hidden" name="file" disabled>
                            </div>
                            <div class="col-sm-12" style="text-align: right; padding: 0 .5em">
                                <a class="image-input-group-btn" data-opt="clear" style="margin-left: 20px">Clear Input</a>
                            </div>
                        </div>
                    </div>
                    <label for="photo-title">Title</label>
                    <input class="form-control" type="text" name="photo_title" id="photo-title" required>
                    <label for="photo-set-to-save">Photo set</label>
                    <select class="form-control" name="photo_set" id="photo-set-to-save" required>
                        <option value="">Select photo set</option>
                        <option value="new">*NEW*</option>
                        <%_ photos.forEach((p, i, a) => {
                            if (i === 0 || p.photo_set !== a[i-1].photo_set) { _%>
                        <option value="<%= p.photo_set %>"><%= p.photo_set %></option>
                        <%_ }}) _%>
                    </select>
                    <label for="photo-index">Photo position number</label>
                    <input class="form-control" type="number" name="index" id="photo-index" min="1" max="1" value="1" disabled required>
                    <br>
                    <input class="form-control submit" type="submit" value="Save photo">
                </form>

                <br><br><br>

                <form class="form-group" id="photo-edit-form" method="post" action="/settings/photo/edit">
                    <label>Photo set to filter (optional)</label>
                    <select class="form-control photo-set-opts">
                        <option value="">Select photo set</option>
                        <%_ photos.forEach((p, i, a) => {
                            if ((i === 0 || p.photo_set !== a[i-1].photo_set) && p.photo_set !== "Assorted") { _%>
                        <option value="<%= p.photo_set %>"><%= p.photo_set %></option>
                        <%_ }}) _%>
                    </select>
                    <label for="photo-to-edit">Select photo</label>
                    <select class="form-control" name="id" id="photo-to-edit" required>
                        <option value="">Select photo set</option>
                        <%_ photos.forEach(p => { _%>
                        <option value="<%= p._id %>"><%= p.photo_title %></option>
                        <%_ }) _%>
                    </select>
                    <div class="img-preview"></div>
                    <label for="photo-title-edit">Edit Title</label>
                    <input class="form-control" type="text" name="photo_title" id="photo-title-edit">
                    <label for="photo-url-edit">Edit Photo set</label>
                    <select class="form-control" name="photo_set" id="photo-set-edit">
                        <option value="">-</option>
                        <%_ photos.forEach((p, i, a) => {
                            if ((i === 0 || p.photo_set !== a[i-1].photo_set) && p.photo_set !== "Assorted") { _%>
                        <option value="<%= p.photo_set %>"><%= p.photo_set %></option>
                        <%_ }}) _%>
                    </select>
                    <br>
                    <input class="form-control submit" type="submit" value="Edit photo details">
                </form>

                <br><br><br>

                <form class="form-group" id="photo-set-cover-form" method="post" action="/settings/photo/set/cover">
                    <label for="photo_set">Photo set</label>
                    <select class="form-control photo-set-opts" name="photo_set" required>
                        <option value="">Select photo set</option>
                        <%_ photos.forEach(p => { if (p.photo_set_cover === true) { _%>
                        <option value="<%= p.photo_set %>"><%= p.photo_set %></option>
                        <%_ }}) _%>
                    </select>
                    <label for="photo-set-cover-choice">Select photo</label>
                    <select class="form-control" name="id" id="photo-set-cover-choice" required>
                        <option value="">Select photo</option>
                        <%_ photos.forEach(p => { _%>
                        <option value="<%= p._id %>"><%= p.photo_title %></option>
                        <%_ }) _%>
                    </select>
                    <div class="img-preview"></div>
                    <br>
                    <input class="form-control submit" type="submit" value="Update photo set cover">
                </form>

                <br><br><br>

                <form class="form-group" id="photo-delete-form" method="post" action="/settings/photo/delete">
                    <label>Select photo set to filter (optional)</label>
                    <select class="form-control photo-set-opts" name="photo_set">
                        <option value="">Select photo set</option>
                        <%_ photos.forEach((p, i, a) => {
                            if (i === 0 || p.photo_set !== a[i-1].photo_set) { _%>
                        <option value="<%= p.photo_set %>"><%= p.photo_set %></option>
                        <%_ }}) _%>
                    </select>
                    <label for="photo-to-delete">Select image to delete</label>
                    <select class="form-control" id="photo-to-delete" name="id" required>
                        <option value="">Select image</option>
                        <%_ photos.forEach(p => { _%>
                        <option value="<%= p._id %>"><%= p.photo_title %></option>
                        <%_ }) _%>
                    </select>
                    <div class="img-preview"></div>
                    <input class="form-control submit btn-danger" type="submit" value="Delete photo">
                </form>

                <br><br><br>

                <form class="form-group" id="photo-set-delete-form" method="post" action="/settings/photo/set/delete">
                    <label for="photo-set-to-delete">Select photo set</label>
                    <select class="form-control" id="photo-set-to-delete" name="photo_set" required>
                        <option value="">Select photo set</option>
                        <%_ photos.forEach((p, i, a) => {
                            if ((i === 0 || p.photo_set !== a[i-1].photo_set) && p.photo_set !== "Assorted") { _%>
                        <option value="<%= p.photo_set %>"><%= p.photo_set %></option>
                        <%_ }}) _%>
                    </select>
                    <input class="form-control submit btn-danger" type="submit" value="Delete photo set">
                </form>

                <script>
                    $("#photo-set-to-save").change(function() {
                        var input = this;
                        $("#photo-index").attr({ disabled: true, max: 1 }).val(1);
                        $("#photo-set-new").remove();
                        if (input.value === "new") {
                            $("<input>").addClass("form-control").attr({
                                type: "text",
                                name: "photo_set_new",
                                id: "photo-set-new",
                                placeholder: "Enter new photo set name",
                                required: true
                            }).insertAfter(input);
                            $("#photo-index").attr("disabled", false);
                        }
                        else if (input.value) {
                            var max = d.filter(function(e) { return e.photo_set == input.value }).length + 1;
                            $("#photo-index").attr({ disabled: false, max }).val(max);
                        }
                    });

                    $(".photo-set-opts").change(function() {
                        var input = this;
                        var $form = $(this).closest("form");
                        var $preview = $form.find(".img-preview");
                        var $selectInput = $form.find("#photo-to-delete, #photo-to-edit, #photo-set-cover-choice");
                        $preview.empty();
                        try {
                            d.filter(function(e) {
                                return input.value ? e.photo_set === input.value : true
                            }).sort(function(a, b) { return a.index - b.index }).forEach(function(img, i) {
                                if (i == 0) $selectInput.html("<option value=''>Select image</option>");
                                $selectInput.append("<option value="+ img._id +">"+ img.photo_title +"</option>")
                            });
                            $selectInput.find("option:first").prop("selected", true);
                        } catch(e) {}
                    });

                    $("#photo-to-delete, #photo-to-edit, #photo-set-cover-choice").change(function(evt) {
                        var $form = $(this).closest("form");
                        var $preview = $form.find(".img-preview");
                        $preview.empty();
                        try {
                            var img = d.filter(function(e) { return e._id == evt.currentTarget.value })[0];
                            $preview.append("<img src='"+ img.photo_url +"'>");
                            $form.find("#photo-title-edit").val(img.photo_title);
                            $form.find("#photo-set-edit").val(img.photo_set);
                        } catch(e) {}
                    });
                </script>
