                <form class="form-group gallery-settings" method="post" action="/settings/gallery/save">
                    <div class="row">
                        <div class="col-sm-10 column sm">
                            <div class="col-sm-4 column sm">
                                <label class="sr-only">Label</label>
                                <input class="form-control details" type="text" id="label" name="label" placeholder="Gallery Name" required>
                            </div>
                            <div class="col-sm-4 column sm">
                                <label class="sr-only">Set ID</label>
                                <input class="form-control details" type="text" id="set_id" name="set_id" placeholder="Set ID" required>
                            </div>
                            <div class="col-sm-4 column sm">
                                <label class="sr-only">Tag</label>
                                <input class="form-control details" type="text" id="tag" name="tag" placeholder="Tag" required>
                            </div>
                        </div>
                        <div class="col-sm-2 column sm">
                            <div class="col-sm-12">
                                <label class="sr-only">Index</label>
                                <select class="form-control details" id="index" name="index" required>
                                    <option value="">Index</option>
                                    <%_ docs.galleries.forEach((gallery, i) => { _%>
                                    <option value="<%= i %>"><%= i %></option>
                                    <%_ }) _%>
                                    <option value="<%= docs.galleries.length %>"><%= docs.galleries.length %></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <label class="sr-only">Bulk</label>
                    <%_ var placeholder = 'Enter above fields in exact order, separate with a " -- "'; _%>
                    <textarea class="form-control details" id="bulk" name="bulk" placeholder="<%= placeholder %>"></textarea>
                    <label class="sr-only">Upper Bound Index</label>
                    <input type="hidden" id="max_index" name="max_index" value="<%= docs.galleries.length %>" required>
                    <input class="form-control submit" type="submit" value="Save new gallery">
                </form>

                <br><br><br>

                <form class="form-group gallery-delete-settings" method="post" action="/settings/gallery/delete">
                    <label class="sr-only">Select to delete</label>
                    <select class="form-control details" id="gallery_to_delete" name="gallery_to_delete" required>
                        <option value="">Select gallery</option>
                        <%_ docs.galleries.forEach(gallery => { _%>
                        <option value="<%= gallery._id %>"><%= gallery.label %></option>
                        <%_ }) _%>
                        <option value="*">*</option>
                    </select>
                    <input class="form-control submit btn-danger" type="submit" value="Delete">
                </form>

                <br><br><br>

                <form class="form-group gallery-reorder-settings" method="post" action="/settings/gallery/reorder">
                    <div class="row">
                        <div class="col-sm-10 column sm">
                            <label class="sr-only">Select to re-order</label>
                            <select class="form-control details" id="gallery_to_reorder" name="gallery_to_reorder" required>
                                <option value="">Select gallery</option>
                                <%_ docs.galleries.forEach(gallery => { _%>
                                <option value="<%= gallery._id %>"><%= gallery.label %></option>
                                <%_ }) _%>
                            </select>
                        </div>
                        <div class="col-sm-2 column sm">
                            <label class="sr-only">Index</label>
                            <select class="form-control details" id="index" name="index" required>
                                <option value="">Index</option>
                                <%_ docs.galleries.forEach((gallery, i) => { _%>
                                <option value="<%= i %>"><%= i %></option>
                                <%_ }) _%>
                            </select>
                        </div>
                    </div>
                    <input class="form-control submit" type="submit" value="Re-order Gallery">
                </form>
